.footer_section {
    width: 100%;
    /* float: left; */
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 90px;
}

.map_icon {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #fff;
}

.map_icon a {
    color: #ffffff;
}

.map_icon a:hover {
    color: #8eb50b;
}

.address_text {
    width: 100%;
    float: left;
    font-size: 22px;
    color: #8eb50b;
    margin: 0px;
    padding-left: 23px;
}

.footer_sectio_2 {
    width: 100%;
    float: left;
    padding: 0em, 20em;
}

.col-lg-3.col-md-6 {
    padding-right: 35em;
    padding-bottom: 5em;
    margin-left: 15em;
}

.footer_logo {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 0px;
}

.useful_text {
    width: 100%;
    font-size: 21px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1em;
}

.useful_text_discover{
    width: 100%;
    font-size: 21px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 1.2em;
}

.footer_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #f8f8f8;
    margin: 0px;
}

.footer_menu {
    width: 100%;
    float: left;
}

.footer_menu ul {
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

.footer_menu li {
    font-size: 14px;
    color: #ffffff;
}

.footer_menu li a {
    color: #ffffff;
}

.footer_menu li a:hover {
    color: #ffffff;
}

.footer_menu li::after {
    content: '';
    position: absolute;
    background-color: #ffffff;
    height: 8px;
    width: 8px;
    left: 0px;
    justify-content: center;
    margin-top: 9px;
    margin-left: 15px;
    border-radius: 100%;
}

.footer_menu li:hover::after {
    background-color: #8eb50b;
}

.footer_menu li.active::after {
    background-color: #8eb50b;
}

.padding_left15 {
    padding-left: 15px;
    margin-left: 0.6em;
    color: white;
}

.subscribe_menu {
    width: 100%;
    float: left;
}

.subscribe_menu ul {
    margin-left: -3em;
    padding: 0px;
    list-style-type: none;
}

.subscribe_menu li a {
    padding: 20px 30px 0px 0px;
    color: #ffffff;
    font-size: 20px;
}

.subscribe_menu li a:hover {
    color: #8eb50b;
}

.social_icon {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    padding-top: 20px;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.social_icon li {
    float: left;
}

.social_icon li a {
    float: left;
    padding: 0px 10px;
    background-color: #fff;
    color: #252525;
    border-radius: 10px;
    font-size: 22px;
    margin: 0px 5px;
    width: 40px;
    text-align: center;
}

.social_icon li a:hover {
    background-color: #8eb50b;
    color: #ffffff;
}

.copyright_section {
    width: 100%;
    float: left;
    background-color: #8eb50b;
    height: auto;
}

.copyright_text {
    width: 100%;
    color: #fefefd;
    text-align: center;
    font-size: 16px;
    margin: 20px 0px;
}

.copyright_text a {
    color: #fefefd;
}

.copyright_text a:hover {
    color: #252525;
}

.margin_top_90 {
    margin-top: 90px;
}